@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@source '../../../../packages/ui/src/**/*.{svelte,ts}';
@source '../../../../packages/stylekit/src/**/*.{svelte,ts}';

@import '@untron/stylekit/theme.css';
